[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
body = "*"
fastapi = "*"
psycopg = "*"
extras = "*"
psycopg2 = "*"
myapplication = "*"
sqlalchemy = "*"
base = "*"
crud = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
